.content{
   
   
    background-image: url(background2.jpg);
    margin:0;
}

#task1{
    background-image: url(background1.jpg);
    height: fit-content;
   
}
.col-lg-8.task1{
    text-align: center;
}
.row.task1{
    display: flex;
    align-items: center;
    padding-bottom: 5rem;
}
.carousel-item{
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    background-color: rgba(0,0,0,0.6);
    border-radius: 2rem;
}
.subhead{
    font-family: 'Montserrat',sans-serif;
    padding-top: 15rem;
    font-size: 4rem;
    text-decoration: underline;
   padding-bottom: 2rem;
    color: white;
}
#task1 p{
    padding-left:3rem;
    padding-right: 5rem;

}
.col-lg-2.code{
    margin-left:3rem;
}
.task1-code{
    border-radius: 1rem;
}
.logic-head{
    font-family: 'Montserrat',sans-serif;
    padding-left: 3.5rem;
    font-size: 4rem;
    padding-top: 10rem;
    color: white;
    padding-bottom: 1.5rem;

}
.heading{
    padding-top:3rem;
}
p{
    padding-left: 3.5rem;
    padding-right: 22rem;
    font-family: 'Kanit',sans-serif;
    font-size: 1rem;
    color: white;
  
}
.intro-code{
    aspect-ratio: fixed;
    height: 16rem;
    border-radius : 1rem;
    position : absolute;
    right:4rem;
}
.carousel-head{
    font-family: 'Ubuntu',sans-serif;
    color: white;
}
p.carousel-text{
    font-family: 'Ubuntu',sans-serif;
    padding-left: 0;
}
.code-snip{
    padding-top: 12rem;
   
}
nav.navbar{
    padding-left:4rem;
    padding-right: 4rem;
    padding-top:2rem;
}
a.nav-link{
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}
a.navbar-brand{
    font-family: 'Kanit',sans-serif;
    font-size: 1.5rem;
}
.row.main,.col-lg-6.main{
    height: 45rem;

}
.row.main{
    width:100%;
}